name: senierproject
description: AR_shop make flutter
# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  firebase_auth: ^0.16.0 # login.dart에서 signWithGoogle을 사용하기 위해 다운된 버전사용
  cloud_firestore: ^0.13.5 # login.dart에서 signWithGoogle을 사용하기 위해 다운된 버전사용
  google_sign_in: ^4.4.6
  shared_preferences: ^0.5.7+2
  fluttertoast: ^4.0.1
  firebase_database: #자동으로
  flutter_unity_widget: ^0.1.6+5

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  carousel_pro: ^1.0.0 # https://pub.dev/packages/carousel_pro 홈페이지에서 사진넘어가는거
#  firebase_core: ^0.2.5  # add dependency for Firebase Core

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  assets:
    - images/date.jpeg
    - images/huze.jpeg
    - images/dev_lim.jpeg
    - images/cats/tshirt.png
    - images/cats/dress.png
    - images/cats/formal.png
    - images/cats/informal.png
    - images/cats/jeans.png
    - images/cats/shoe.png
    - images/cats/accessories.png
    - images/products/blazer1.jpg
    - images/products/blazer2.jpg
    - images/products/dress1.jpg
    - images/AR.png
    - images/AR_Button.png
    - images/products/jjh_blazer.jpg
    - images/products/ranicoat.jpg
    - images/products/wecant.jpg
    - images/products/single_tranch.jpg
    - images/back.jpg
    - images/back2.jpg
    - images/logo.png
    - images/back3.jpg
    - images/m1.jpeg
    - images/m2.jpg
    - images/w3.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages